{% extends 'homepage.html' %}

{% block content %}
<div class="card w-75 shadow-lg">
    <div class="card-header">     
        <h2 class="card-text">
            Detalhes do parente: {{ parente.nome }}
        </h2>
    </div>
    
    <div class="card-body">

        <p class="card-text"><strong>CPF: </strong>{{ parente.cpf }}</p>
        <p class="card-text"><strong>Idade: </strong>{{ parente.get_idade_atual_display }}</p>
        <p class="card-text"><strong>Telefone: </strong>{{ parente.telefone }}</p>
        <p class="card-text"><strong>Email: </strong>{{ parente.email }}</p>
        <p class="card-text"><strong>Informações adicionais: </strong> {{ parente.info_adicionais }}</p>
        <br />
        <h4 class="pt-2 border-top">Parentescos</h4>
        <ul>
            {% for parentesco in parente.parentescos.all %}
            <li>
                {{ parentesco.get_grau_parentesco_display }}; {% if parentesco.principal_responsavel %} Principal responsável {% endif %}
            </li>
            {% endfor %}
        </ul>


        <a href="{% url 'escolas:edita_parente' pk=parente.id %}" class="mt-3 btn btn-primary">
            Editar
        </a>
    </div>
</div>
{% endblock %}