{% extends 'homepage.html' %}

{% block content %}
<div class="w-100">
    {% load crispy_forms_tags %}
    
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>Alunos</h1>
        <a role="button" class="btn custom-button" href="{% url 'escolas:cria_aluno' %}?escola={{ request.GET.escola|urlencode }}">
            Novo
        </a>
    </div>
    
    <table id="alunos" class="table table-striped table-bordeless mt-3" style="width:100%">
        <thead>            
            <tr>
                <th>Aluno</th>
                <th>Idade</th>
                <th>Escola</th>
                <th class="col-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td class="border-bottom">{{ aluno.nome }}</td>
                <td class="border-bottom">{{ aluno.idade }}</td>
                <td class="border-bottom">{{ aluno.escola }}</td>
                <td class="text-center align-middle border-bottom">
                    <div class="btn-group" role="group" aria-label="Acoes">
                        <a role="button" class="btn custom-button" href="{% url 'escolas:aluno' aluno.id %}">
                            Detalhes
                        </a>
                        <a role="button" class="btn custom-button" href="{% url 'escolas:notas_aluno' aluno.id %}">
                            Avaliações
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}