
<div id="desativaUsuarioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Desativação de Usuário</h4>
            </div>
            <div class="modal-body">            
                <h5>
                Tem certeza que deseja desativar este usuário?
                </h5>
            </div>
            <div class="modal-footer">
                <a href="{% url 'escolas:desativa_usuario' usuario.id %}" class="btn btn-danger">
                    Desativar
                </a>
                <button class="btn btn-secundary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>