{% extends 'homepage.html' %}

{% block content %}
    {% load static %}

    <div class="container">
        {% load crispy_forms_tags %}
        <h4>CADASTRO DE ESCOLA</h4>
        <form action="{% url 'escolas:cria_escola' %}" method="post" class="m-2 pt-4">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <!-- <script src="{% static 'js/mascaras.js' %}"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const telefoneInput = document.getElementById("id_telefone_principal");

            if (telefoneInput) {
                telefoneInput.addEventListener("input", function(e) {
                    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
                    e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
                });
            }
        });
    </script>

{% endblock %}