{% extends 'homepage.html' %}

{% block content %}
    <div class="card w-75 shadow-lg">
        <div class="card-header">
            <h2 class="card-text">Detalhes da escola</h2>
        </div>
        <div class="card-body">
            <h2 class="py-4 card-title">{{ escola.nome }}</h2>
            <p class="card-text"><strong>CNPJ:</strong> {{ escola.cnpj }}</p>
            <p class="card-text"><strong>Endereço:</strong> {{ escola.endereco }}</p>
            <p class="card-text"><strong>Bairro:</strong> {{ escola.bairro }}</p>
            <p class="card-text"><strong>CEP:</strong> {{ escola.cep }}</p>
            <p class="card-text"><strong>Cidade:</strong> {{ escola.cidade }}</p>
            <p class="card-text"><strong>Estado:</strong> {{ escola.estado }}</p>
            <p class="card-text"><strong>Diretor:</strong> {{ escola.diretor }}</p>
            <a href="#" class="mt-5 btn btn-primary">Editar</a>
        </div>
    </div>
{% endblock %}