{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educatio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="d-flex align-items-center flex-column m-2" style="min-height: 95vh;">
    <nav class="navbar navbar-expand-md navbar-light" style="max-height: 10vh; width: 90vw;">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <a class="navbar-brand d-none d-md-block" style="max-width: 50%;" href="{% url 'escolas:homepage' %}">
                <img src="{% static 'imgs/logo.svg' %}" alt="Logo"  style="max-width: 60%;">
            </a>
            <ul class="nav nav-pills navbar-item" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="pill" href="{% url 'escolas:escolas' %}">Escolas</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="pill" href="{% url 'escolas:alunos' %}">Alunos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="pill" href="{% url 'escolas:eventos' %}">Eventos</a>
                </li>
            </ul>
        </div>
        
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    <!-- <footer>
        <h5>Criado para o Projeto Viver.</h5>
    </footer> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>
</html>