{% extends 'homepage.html' %}

{% block content %}
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1>
            Escolas
        </h1>
        <a role="button" class="btn btn-secondary" href="{% url 'escolas:cria_escola' %}">
            Nova
        </a>
    </div>
    
    <table id="escolas" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>            
            <tr>
                <th>Escola</th>
                <th>Diretor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for escola in escolas %}
            <tr>
                <td>{{ escola.nome }}</td>
                <td>{{ escola.diretor }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acoes">
                        <a role="button" class="btn btn-secondary" href="{% url 'escolas:escola' escola.id %}">
                            Detalhes
                        </a>
                        <a role="button" class="btn btn-secondary" href="{% url 'escolas:alunos' %}?escola={{ escola.id|urlencode }}">
                            Alunos
                        </a>
    
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}