{% extends 'homepage.html' %}

{% block content %}
<div class="w-100">
    {% load crispy_forms_tags %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <button class="custom-button my-3" type="button" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
            + Filtros
        </button>
    </div>
    <div class="collapse py-2" id="filterForm">
        <form action="{% url 'escolas:resultados' %}" method="get">
            {% csrf_token %}                
            {% crispy form %}
        </form>
    </div>

    <h3>Resultados por Atividade</h1>
    <table id="resultados" class="table table-striped table-bordeless mt-3" style="width:100%">
        <thead>                
            <tr>
                <th>Aluno</th>
                <th>{{ titulo }}</th>
                <th>Escola</th>
            </tr>
        </thead>
        <tbody>            
            {% for nota in resultados %}
            <tr>
                <td class="border-bottom">{{ nota.aluno }}</td>
                <td class="border-bottom">{{ nota.resultado }}</td>
                <td class="border-bottom">{{ nota.escola }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}