{% extends 'homepage.html' %}

{% block content %}
<div class="card w-75 shadow-lg">
    <div class="card-header">           
        <h2 class="card-text">Detalhes do Aluno</h2>
    </div>
    <div class="card-body">
        <h2 class="py-4 card-title">{{ aluno.nome.title }}</h2>
        <div class="row">
            <div class="col-md-6">                
                {% if aluno.cpf %}
                    <p class="card-text"><strong>CPF:</strong> {{ aluno.cpf }}</p>
                {% endif %}
                <p class="card-text"><strong>Nascimento:</strong> {{ aluno.data_nascimento }}</p>
                <p class="card-text"><strong>Endereço:</strong> {{ aluno.get_endereco_junto_display }}</p>
                <p class="card-text"><strong>Complemento:</strong>
                    {{ aluno.complemento }}
                </p>
                <p class="card-text"><strong>Escola:</strong> {{ aluno.escola }}</p>
                <p class="card-text"><strong>Serie; Periodo:</strong> {{ aluno.get_student_info_display }}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text"><strong>Estado civil dos pais:</strong> {{ aluno.get_estado_civil_pais_display }}</p>
                <p class="card-text"><strong>CRAS:</strong> {{ aluno.cras }}</p>
                <p class="card-text"><strong>Vulnerabilidades:</strong> {{ aluno.vulnerabilidades }}</p>
                <p class="card-text"><strong>Informações adicionais:</strong> {{ aluno.info_adicionais }}</p>
                <p class="card-text"><strong>Remédios:</strong> {{ aluno.remedios }}</p>
                <p class="card-text"><strong>Alergias:</strong> {{ aluno.alergias }}</p>
            </div>
        </div>
        <a href="{% url 'escolas:edita_aluno' aluno.id %}" class="mt-5 btn btn-primary">
            Editar
        </a>
        <button class="mt-5 btn btn-danger" type="button" data-toggle="modal" data-target="#desativaAlunoModal">
            Desativar
        </button>
        <div class="d-flex flex-row justify-content-between align-items-center mt-2">
            <h2>Parentes</h2>     
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#parenteModal">
                Novo Parente
            </button>
        </div>
        <table id="aluno" class="table table-striped table-bordeless mt-3" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Grau de Parentesco</th>
                    <th>Info</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for parentesco in aluno.parentescos.all %}
                    <tr>
                        <td class="border-bottom">{{ parentesco.parente.nome }}</td>
                        <td class="border-bottom">{{ parentesco.get_grau_parentesco_display }}</td>
                        <td class="border-bottom">
                            {% if parentesco.principal_responsavel %}
                                Principal Responsavel; 
                            {% endif %}
                            {{ parentesco.parente.info_adicionais }}
                        </td>
                        <td class="text-center align-middle border-bottom">
                            <div class="btn-group" role="group" aria-label="Acoes">
                                <a role="button" class="btn btn-info" href="{% url 'escolas:parente' parentesco.parente.id %}">
                                    Detalhes
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'alunos/cria_parente.html' %}
{% include 'alunos/desativa_aluno.html' %}
{% endblock %}