{% extends 'homepage.html' %}

{% block content %}
    <div class="card w-75 shadow-lg">
        <div class="card-header">
            <h2 class="card-text">Detalhes da escola</h2>
        </div>
        <div class="card-body">
            <h2 class="py-4 card-title">{{ escola.nome.title }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text"><strong>CNPJ:</strong> {{ escola.cnpj }}</p>
                    <p class="card-text"><strong>Endereço:</strong> {{ escola.get_endereco_junto_display }}</p>
                    <p class="card-text"><strong>CEP:</strong> {{ escola.cep }}</p>
                    <p class="card-text"><strong>Complemento:</strong>
                        {{ escola.complemento }}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><strong>Diretor:</strong> {{ escola.diretor.title }}</p>
                    <p class="card-text"><strong>Email:</strong>
                        {{ escola.email }}
                    </p>
                    <p class="card-text"><strong>Telefone:</strong> {{ escola.telefone_principal }}</p>
                    <p class="card-text"><strong>WhatsApp:</strong>
                        {{ escola.telefone_secundario }}
                    </p>
                </div>
            </div>
            <a href="{% url 'escolas:edita_escola' escola.id %}" class="mt-5 btn btn-primary">
                Editar
            </a>
            <button class="mt-5 btn btn-danger" type="button" data-toggle="modal" data-target="#desativaEscolaModal">
                Desativar
            </button>
        </div>
    </div>
    {% include 'escolas/desativa_escola.html' %}
{% endblock %}