{% extends 'homepage.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="d-flex justify-content-between align-items-center">
        <button class="filter-button my-3" type="button" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
            Filtros
        </button>
        <a
            href="{% url 'escolas:exportar_dados_notas' %}?escola={{ escola }}&evento={{ evento }}"
            class="custom-button"
        >
            Exportar Dados
        </a>
        
        <!-- <button class="custom-button">
            Exportar dados
        </button> -->
    </div>
    <div class="collapse py-2" id="filterForm">
        <form action="{% url 'escolas:notas_evento' %}" method="get">
            {% csrf_token %}                
            {% crispy form %}
        </form>
    </div>

    <h3>Avaliações por Evento</h1>
    {% if notas %}
        <table id="notas-eventos" class="table table-striped table-bordered" style="width:100%">
            <tr>
                <th>Aluno</th>
                <th>
                    {% if is_media %}
                    Média ponderada
                    {% else %}
                    Avaliação
                    {% endif %}
                </th>
            </tr>
            {% for nota in notas %}
                <tr>
                    <td>{{ nota.aluno }}</td>
                    <td>{{ nota.resultado }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>Nenhum item encontrado.</p>
    {% endif %}
{% endblock %}