{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top bg-light navbar-light py-4 shadow">
    <div class="container">
        <a class="navbar-brand" href="{% url 'escolas:homepage' %}">
            <img
              id="educatio-logo"
              src="{% static 'imgs/logo.svg' %}"
              alt="educatio Logo"
              draggable="false"
              height="45"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav ms-auto align-items-center">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn custom-nav" href="{% url 'escolas:usuario' request.user.id %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{% url 'escolas:escolas' %}"></i>Escolas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{% url 'escolas:alunos' %}"></i>Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{% url 'escolas:atividades' %}"></i>Atividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{% url 'escolas:resultados' %}"></i>Resultados</a>
                </li>
                    <li class="nav-item">
                        <a class="btn custom-nav" href="{% url 'logout' %}">Sair</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn custom-nav" href="{% url 'login' %}">Entrar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
  </div>
</nav>
